@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.brand-name{
      font-size: 28px !important;
      font-family: Lobster !important
    }

.hover--btn{
  display: none;
}

.display--btn{
  display: block;
}

span{
  font-size: 14px;
  font-family:"comic-sans"
}

.addbtn{
  font-size: 1rem;
  font-family: "comic-sans";
  border-radius: 5px;
  background-color: #3151bd;
  color: white;
  
}